/* Copyright 2007 Google Inc.
    All Rights Reserved.

 ffff

    author: rjkroege@google.com (Robert Kroeger)
*/

body {
	background-color: #efefef;
}


/*
 * Must separate out the styles that are part of the
 * code.
 */

/*
	This particular style may be superfluous. We must purge that 
	which is not necessary or required at some point.
*/
.hl	{
  color:#000000; 
  /* background-color:#eeeeee;  */
  font-size:10pt; 
  font-family:Helvetica;
}

.num	{ color:#2928ff; }
.esc	{ color:#ff00ff; }
.str	{ color:#ff0000; }
.dstr	{ color:#818100; }
.slc	{ color:#838183; font-style:italic; }
.com	{ color:#838183; font-style:italic; }
.dir	{ color:#008200; }
.sym	{ color:#000000; }
.line	{ color:#555555; }
.kwa	{ color:#000000; font-weight:bold; }
.kwb	{ color:#830000; }
.kwc	{ color:#000000; font-weight:bold; }
.kwd	{ color:#010181; font-size:14pt;}


/*
 * Styles to specifically control for the spanning header. 
 */
#header {
  top: 0px;
  height: auto;
  right: 0px;
  left: 0px;
}

/*
 * Style for the div that contains multiple columns.
 */
.columngroup {
  position: absolute;
  width: 100%;
  height: auto;
  left: 0px;
  top: 24px;
  right: 0px;
  bottom: 0%;  
}

/*
 * Style for the div that represents each column.  Each such div
 * contains multiple supra-tiles.
 */
.column {
  position: absolute;
  width: 50%;  /* this is adjusted... */
  height: 100%;
  left: auto;
  top: auto;
  right: auto;
  bottom: auto;
	/* scroll vertically , wrap horizontally */
  /* overflow: scroll;*/
	
  /* May want this... */	
  -webkit-box-sizing: border-box;
}

/*
 * Sized and positioned container for the combination
 * of a tag and tile.  These are positionable entities.
 */
.supra-tag-tile {
	position: absolute;
	width: 100%;
	top: 0%;
	bottom: 0%;
}

/*
 * Style for each tag. It is a single line of editable
 * text.  This is a selection-tracking entity.
 */
.supra-tag {
  /* background: -webkit-canvas(underlay); */
  width: 100%;
  text-overflow: clip;
  -webkit-box-sizing: border-box;
  height: 18px;  	
  display: block;
  position: absolute;
	border-style: solid;
	border-width: thin;
	padding: 2px;
}

/*
 * Style for each tile.  This style defines a box that contains
 * Text. It fills its containing box.
 * Note that its height can be made invisible to collapse
 * the tile.  This is also selection tracking entity.
 */
.supra-tile {
	/* background: -webkit-canvas(underlay); */
	width: 100%;
	top: 24px;
	bottom: 0%;
	position: absolute;		
	word-wrap: break-word;
	overflow-y: scroll; 
	-webkit-box-sizing: border-box;
	display: block;
	border: thin solid #939393;
	padding: 2px;
}

/*
	These styles control the division of space
	within a given column.  Thgese styles need
	to be adjusted in various ways to control
	the dynamic stretch and collapse of the 
	tiles.
*/
.supra-tag-tile#documentId-1 {
	bottom: 50%;
	top: 0%;
}

.supra-tag-tile#documentId-3 {
	top: 50%;
	bottom: 0%;
}

.supra-tag-tile#documentId-2 {
	bottom: 0%;
	top: 0%;
}


/*
  Two ways to generate tabs...
  1. convert a tab character into a sequence of non-breaking spaces.
    I claim that we should use the process.  It works well.  
  2. use indent classes with this style containing a single nbsp.
  
    <div class="indent1">&nbsp;</div>
  
  Regardless, it has to be programmatic because there's no way to insert
  tab characters.
  
*/
.indent1 {
  display: inline-block;
  width: 200px;
  height: auto;
}